@model Paging.Controllers.ViewModel

@{
	ViewBag.Title = "PageDemo";
}

<style>
	#_PartialView {
		float: left;
		position: relative;
	}

	table {
		border: 2px solid #f9f9f9;
		border-radius: 3px;
		background-color: #fff;
	}

	th {
		background-color: #42b2b9;
		color: rgba(255,255,255,0.66);
	}

	td {
		background-color: #f9f9f9;
	}

	th, td {
		min-width: 120px;
		padding: 10px 20px;
	}

	.pagination {
		margin: 5px 0 !important;
	}

		.pagination > li > a {
			font-size: 18px;
			color: rgba(82, 80, 80, 0.86);
			cursor: pointer;
			padding: 6px 10px !important;
			border: none;
			border-radius: 0 !important;
		}

			.pagination > li > a:hover {
				box-shadow: 4px 4px 12px -2px rgba(10%, 10%, 20%, .25);
			}

	.noactive {
		display: none;
	}

	.nowpage {
		color: rgb(255, 140, 0) !important;
		font-weight: bolder;
		border-bottom: 2px solid rgb(255, 140, 0) !important;
	}

	.Loading {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
		z-index: 9999;
		background-color: rgba(255,255,255,0.3);
	}

		.Loading::after {
			position: relative;
			content: ' ';
			height: 45px;
			width: 45px;
			background: -webkit-linear-gradient(rgba(143, 143, 143,0.3),rgba(143, 143, 143,1));
			background-image: url('../../Image/Loading.svg');
			background-position: center;
			background-size: contain;
			background-position: right;
			background-repeat: no-repeat;
		}
</style>


<div id="_PartialView">
	@Html.Partial("~/Views/Page/_PartialView.cshtml")
</div>


@section scripts{
	<script>
		$(function () {
			// Paged
			$('#_PartialView').on('click', '.pagination > li > a', function (e) {
				var Page = parseInt($(this).attr('index'));
				GetData(Page);
			});
		})

		function GetData(Page) {
			setLoading($('#_PartialView'));
			clearTimeout(timer);

			var timer = setTimeout(function () {
				$.ajax({
				type: 'Post',
				data: JSON.stringify({ 'Page': Page }),
				contentType: 'application/json; charset=utf-8',
				dataType: 'html',
				url: '@Url.Action("PageDemo", "Page")',
				success: function (data) {
					$('#_PartialView').html(data);
				}, error: function () {
					alert('Error');
				}, complete: function () {
					removeLoading($('#_PartialView'));
				}
			});
			}, 1000);
		}


		var setLoading = function (TableControl) {
			TableControl.append($('<div>').addClass('Loading'))
		}

		var removeLoading = function (TableControl) {
			TableControl.find('.Loading').remove();
		}

		var IsLoading = function (TableControl) {
			return TableControl.find('.Loading').length > 0;
		}
	</script>
}